<div class="full-page">
  <div class="header"></div>
  <div class="login-body">
    <div>   
      <label>סלולרי</label>
    </div>
    <div>
      <div>
        <input class="login-mobile" [maxLength]="10" [(ngModel)]="this.mobile">
      </div>
      <div>
        <button class="login-signin" mat-flat-button (click)="this.signIn()">כניסה</button>
      </div>
    </div> 
  </div>
  <!-- <mat-divider></mat-divider> -->
  <div *ngIf="this.isNeewVerifiedCode" class="login-body">
    <div>
      <label>קוד אימות</label>
    </div>
    <div>
      <div>
        <input class="login-mobile" [maxLength]="10" [(ngModel)]="this.verifiedCode">
      </div>
      <div>
        <button class="login-signin" mat-flat-button (click)="this.verifyCode()">כניסה</button>
      </div>
    </div>
  </div>
  <div class="footer">
  </div>
</div>